<form  class="w-100">
    <p>
        <mat-form-field color="accent" class="w-100" appearance="fill">
            <mat-label>Resource Name</mat-label>

            <input matInput id="resourceName" name="resourceName" [(ngModel)]="resourceName">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field color="accent" class="w-100" appearance="fill">
            <mat-label>Type</mat-label>

            <input matInput id="type" name="type" [(ngModel)]="type">

        </mat-form-field>
    </p>

    <p>
        <mat-form-field color="accent" class="w-100" appearance="fill">
            <mat-label>Api Description</mat-label>
            
            <textarea id="description" name="description" [(ngModel)]="description" matInput
                placeholder="The best Api EVER"></textarea>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field color="accent" class="w-100" appearance="fill">
            <mat-label>Url</mat-label>
            <input matInput id="url" name="url" [(ngModel)]="url">

        </mat-form-field>
    </p>

    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Submit</button>
</form>