<div *ngIf="project">
    <h1 class="whiteColor"> Welcome to Project Page!!</h1>
    <h2 class="whiteColor"> Update your project information</h2>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="project-name">Project Name</mat-label>

            <input class="whiteColor" matInput id="project-name" [(ngModel)]="project.name"
                placeholder="project name" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="project-baseUrl">Base url</mat-label>

            <input class="whiteColor" matInput id="project-baseUrl" [(ngModel)]="project.baseUrl"
                placeholder="Project baseUrl" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="project-Description">Description</mat-label>
            
            <input class="whiteColor" matInput id="project-Description" [(ngModel)]="project.description"
                placeholder="Project Description" />
        </mat-form-field>
    </div>

    <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Submit</button>